.popupDivEdit {
  width: unset;
  max-width: unset;
  max-width: 90%;
  color: var(--text-blue);
}
.containerExtra {
  padding: 1.2rem 4rem;
  text-wrap: nowrap;
}
.containerExtra2 {
  padding: 0.8rem 0 0.6rem 0;
}
.submitBtns {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  margin-top: 0.4rem;
}

@media screen and (max-width: 480px) {
  .containerExtra {
    padding: 0.6rem 4rem;
  }
  .editFromSection {
    width: 100%;
  }
  .popupDivEdit {
    width: 95%;
  }
}
